{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Age Calculator</title>
    <link rel="stylesheet" href="{% static 'agecal.css' %}">
</head>
<body>
    <div class="container">
        <h1>Age Calculator</h1>
        <div class="form">
            <label for="birthday">Enter you date of birth</label>
            <input type="date" id="birthday" name="birthday">
            <button id="btn">Calculate Age</button>
            <p id="result">Your age is 21 years old</p>
        </div>
    </div>

    <script src="{% static 'agecal.js' %}"></script>
</body>
</html>